
@{
    ViewBag.Title = "Produkt nie istnieje";
}

<h2 class="danger-message-user">Szukany produkt nie został znaleziony</h2>

<p class="lack-of-product-info">Zapraszamy do strony głównej do zapoznania się z obecną ofertą naszego sklepu :)</p>

