@model OnlineStore.ViewModels.ProductCategories.ProductCategoryViewModel

@{
    ViewBag.Title = "Szczegóły kategorii";
}

<h2>Szczegóły kategorii</h2>

<div>
    <h4>Kategoria produktów</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Wróć do listy kategorii", "Index")
</p>
