
@{
    ViewBag.Title = "Brak kategorii";
}

<h2 class="danger-message">Nie zdefiniowano żadnej kategorii</h2>

<p>
    @Html.ActionLink("Dodaj kategorię", "Create", "ProductCategories")
</p>

<p>@ViewBag.DefineCategory</p>
