.custom-button {
  color: white;
  background-color: #00b8e6;
  border-color: #00b8e6;
}

.custom-button:hover {
  color: white;
  background-color: #008fb3;
}

.product-photo-admin {
  width: 80px;
  height: 100px;
}

.photos-in-details {
  width: 100%;
  height: 100%;
}

.small-photo {
  width: 250px;
  display: inline-block;
  white-space: nowrap;
  margin: 5px 5px 5px 5px;
}

.sizes-table {
  max-width: 280px;
}

.description-item {
  margin: 10px 0px 10px 0px;
}

.merge-sizes-table {
  width: 280px;
}

.danger-message {
  color: #cc0000;
}

.inform-massage {
  text-align: center;
  font-size: 25px;
}

.action-header {
  color: darkgray;
}

.action-header span {
  font-weight: bold;
}