@model OnlineStore.ViewModels.Administration.AdminViewModel

@{
    ViewBag.Title = "Usuń administratora";
}

<h2 class="action-header">Usuń administratora</h2>

<h3 class="danger-message">Czy na pewno chcesz usunąć administratora?</h3>
<div>
    <h4>Administrator</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default custom-button" /> |
            @Html.ActionLink("Wróć do listy administratorów", "Index")
        </div>
    }
</div>

