@{
    ViewBag.Title = "Strona główna";
}


<div style="display: block">
    <div class="shop-name">CinaMonn</div>
    <div class="shop-slogan">Your own style</div>
</div>

<div id="carousel-home" class="carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="/Content/AppImages/1.jpg" alt="Slide 1">
            <div class="carousel-caption">
                <p class="carousel-text">Feel the summer</p>
            </div>
        </div>
        <div class="item">
            <img src="/Content/AppImages/2.jpg" alt="Slide 3">
            <div class="carousel-caption">
                <p class="carousel-text">Be happy</p>
            </div>
        </div>
        <div class="item">
            <img src="/Content/AppImages/3.png" alt="Slide 3">
            <div class="carousel-caption">
                <p class="carousel-text">Have fun</p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-home" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-home" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


<p class="home-category-header">Shine in the SunShine</p>

<div class="category-wrapper">
    <div class="photo-category">
        <img class="home-photos" src="/Content/AppImages/kombinezon.jpg" alt="Kombinezony" />
        <span class="home-category-header categories">Kombinezony</span>
    </div>

    <div class="photo-category">
            <img class="home-photos" src="/Content/AppImages/koszula.jpg" alt="Koszule" />
            <span class="home-category-header categories">Koszule</span>
    </div>

    <div class="photo-category">
            <img class="home-photos" src="/Content/AppImages/sandały.jpg" alt="Sandały" />
            <span class="home-category-header categories">Sandały</span>
    </div>

    <div class="photo-category">
        <img class="home-photos" src="/Content/AppImages/spódnica.jpg" alt="Spódnice" />
        <span class="home-category-header categories">Spódnice</span>
    </div>
</div>